.Card{
    border: 3px solid ;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    margin: 10px;
    
}

.Card .Title{
    padding: 10px 0;
    display:flex ;
    justify-content: center;
}

.Card .Content{
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 20px;
    height: 360px;
    text-align: start;
}